chromadb
fastapi
faiss-cpu
flask
jsim
langchain
langchain-community
langchain-openai
openai
openpyxl
pandas
pinecone-client
piazza-api
plotly
py
pytest
python-dotenv
requests
streamlit
streamlit_authenticator
textblob
tiktoken
transformers