fastapi
faiss-cpu
flask
jsim
langchain
langchain-community
langchain-core
langchain-openai
openai
openpyxl
pandas
pinecone-client
piazza-api
plotly
py
pytest
python-dotenv
requests
streamlit
streamlit-authenticator
textblob
tiktoken
transformers